.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(231,217,200);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}